@import "../_variables.scss";
@import "../colors";
.App {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: $light-gray;
    @media screen and (max-width: $breakpoint-mobile) {
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
    }
}
