.filter-list {
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: 1s ease .5s 1 Fade-in;
    animation-fill-mode: forwards;

    &__types {
	display: flex;
	flex-wrap: wrap;
    }
    &__icon {
	transition: opacity .5s;
	&:hover {
	    opacity: 1;
	}
    }

    &__icon--inactive {
	opacity: .25;
    }
}
