.pokedex {
    padding: 27px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-auto-rows: 265px;
    overflow: auto;
    grid-gap: 27px;
    margin-bottom: 27px;
    opacity: 0;

    animation: .5s ease .5s 1 Fade-in;
    animation-fill-mode: forwards;
    @media screen and (max-width: 814px) {
	grid-template-columns: 1fr;
    }
}
