@import "../variables";
@import "../colors";
.pokedex-card {
    width: 300px;
    height: 180px;
    border: 2px solid $light-gray;
    border-radius: 28px;
    border-top-width: 0px;
    color: $black;

    &__banner {
	display: flex;
	justify-content: space-between;
	padding: 0px 8px;
	border-top-left-radius: 27px;
	border-top-right-radius: 27px;
	height: 42px;
	position: relative;
	top: -3px;
	width: 100%;
	background-color: $red;
    }
    &__types {
	display: flex;
	justify-content: space-evenly;

	& .pokemon-type-list .pokemon-type i {
	    font-size: 1.75rem;
	}
    }

    @media screen and (max-width: $breakpoint-mobile) {
	width: 100%;
    }
}

